//
// Colours
$white: #fff;
$black: #000;

$green: #8abb2a;
$red: #cc004a;
$blue: #0d988c;
$orange: #fe9d2b;

$primary: $blue;
$secondary: $orange;

$grey-100: #ededed;
$grey-200: #707070;
$grey-300: #f7f7f7;
$grey-400: #7b7b7b;
$grey-500: #f4f4f4;

//
// Typography

//
// Miscellaneous
