.page-banner {
	aside {
		margin: 15px 0 10px;

		@media only screen and (min-width: 1920px) {
			margin: 25px 0 20px;
		}
	}
	&-wrapper {
		@extend %backgroundImage;
		height: 200px;

		@include media-breakpoint-up(md) {
			height: 235px;
		}
		@include media-breakpoint-up(lg) {
			height: 285px;
		}
		@include media-breakpoint-up(xl) {
			height: 375px;
		}
		@media only screen and (min-width: 1920px) {
			height: 570px;
		}
	}
}
