.values-list {
	padding: 30px 0;

	@include media-breakpoint-up(lg) {
		padding: 50px 0;
	}
	@include media-breakpoint-up(xl) {
		padding: 75px 0;
	}
	@media only screen and (min-width: 1920px) {
		padding: 150px 0;
	}
	&-wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.value {
			width: 100%;
			text-align: center;
			margin-bottom: 20px;

			@include media-breakpoint-up(md) {
				width: calc(100% / 2);
			}
			@include media-breakpoint-up(xl) {
				text-align: left;
				width: calc(100% / 4);
				margin-bottom: 0;
			}
			img {
				margin-bottom: 20px;
				max-width: 250px;

				@include media-breakpoint-up(lg) {
					max-width: none;
				}
				@include media-breakpoint-up(xl) {
					margin-bottom: 30px;
					max-width: 250px;
				}
				@media only screen and (min-width: 1920px) {
					margin-bottom: 45px;
					max-width: none;
				}
			}
			h2 {
				@extend %latoRegular;
				margin-bottom: 1rem;
				font-size: 18px;

				@include media-breakpoint-up(md) {
					text-align: left;
				}
				@include media-breakpoint-up(lg) {
					font-size: 22px;
				}
				@include media-breakpoint-up(xl) {
					margin-bottom: 20px;
				}
				@media only screen and (min-width: 1920px) {
					font-size: 28px;
					margin-bottom: 30px;
				}
			}
			ul {
				padding: 0;
				margin: 0;
				list-style: none;

				@include media-breakpoint-up(md) {
					text-align: left;
				}
				li {
					@extend %fontRegular;
					font-size: 14px;

					@include media-breakpoint-up(xl) {
						font-size: 16px;
					}
					@media only screen and (min-width: 1920px) {
						font-size: 18px;
					}
				}
			}
		}
	}
}
