@import "includes/vacancies-single";
@import "includes/vacancies-values";

#vacancies-archive {
	h2 {
		margin-bottom: 20px;
		@extend %fontBold;
		font-size: 18px;

		@include media-breakpoint-up(xl) {
			font-size: 24px;
		}
		@media only screen and (min-width: 1920px) {
			font-size: 32px;
		}
	}
	a {
		display: block;
		margin-bottom: 5px;
		color: $black;
		@extend %fontBold;
		font-size: 16px;

		@include media-breakpoint-up(xl) {
			font-size: 18px;
		}
		@media only screen and (min-width: 1920px) {
			font-size: 24px;
		}
		&::before {
			content: "\f054";
			font-family: FontAwesome;
			margin-right: 5px;
			color: $red;
		}
		&:hover {
			text-decoration: none;
		}
	}
	p {
		margin-top: 30px;
		@extend %fontRegular;
		font-size: 16px;

		@include media-breakpoint-up(xl) {
			font-size: 18px;
		}
		@media only screen and (min-width: 1920px) {
			font-size: 24px;
			margin-bottom: 25px;
			margin-top: 40px;
		}
	}
}

.post-type-archive-join-the-team {
	.small-banner {
		&-wrapper {
			@include media-breakpoint-up(md) {
				h2 {
					width: 75%;
				}
				div {
					width: 25%;
				}
			}
		}
	}
}
